# Ignore YOLO model files
**/yolov5m.pt
**/yolov5s.pt
**/yolov5x6.pt
**/yolov5l6.pt
# Ignore virtual environment folder
/back/venv/

# Ignore compiled Python files
/back/main/__pycache__/
*.pyc
*.pyo

# Ignore output or result folders
/back/main/wyniki/
